name: Build and deploy app to Azure Web App - AlwaysOn

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js version
        uses: actions/setup-node@v3
        with:
          node-version: '22.x'

      - name: Install dependencies
        run: npm ci

      - name: Build Next.js app
        env:
          NEXT_PUBLIC_SANITY_DATASET: ${{ vars.NEXT_PUBLIC_SANITY_DATASET }}
          NEXT_PUBLIC_SANITY_PROJECT_ID: ${{ vars.NEXT_PUBLIC_SANITY_PROJECT_ID }}
          SANITY_API_TOKEN: ${{ vars.SANITY_API_TOKEN }}
        run: npm run build

      - name: Archive production build
        run: |
          mkdir build
          cp -r .next public package.json build/
          # Copy next.config.js only if it exists
          [ -f next.config.js ] && cp next.config.js build/ || true
          # Copy next.config.mjs if it exists instead
          [ -f next.config.mjs ] && cp next.config.mjs build/ || true
        # Upload artifact
      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: next-app
          path: build/

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Download build artifact
        uses: actions/download-artifact@v4
        with:
          name: next-app
          path: .

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_449FEF804E3D41CD9E86154FF9155F01 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_62CD7C60A56C41E2986B71CA17ECF3DC }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_4654E4A4F4474E989F66FC1935AB9951 }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'AlwaysOn'
          package: .